@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Source+Sans+Pro:ital,wght@1,200&display=swap');
.txt{
    display: flex;
font-family: 'Source Sans Pro', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Baloo+Bhai+2&family=Source+Sans+Pro:ital,wght@1,200&display=swap');
.txt2{
    font-family: 'Akshar', sans-serif;
}